In [1]:
import nltk
nltk.download('punkt')

[nltk_data] Error loading punkt: <urlopen error [Errno 11001]
[nltk_data]     getaddrinfo failed>

False

In [2]:
import pandas as pd
data=pd.read_csv('Data_1.csv')

In [3]:
data.shape

(529635, 15)

In [4]:
Data=data.drop(['StockCode','Day','DateYMD', 'DateYM', 'DayCode'],axis=1)
Data

,InvoiceNo,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country,TotalPrice,Recency,Monetory
0,536365,WHITE HANGING HEART T-LIGHT HOLDER,6,2010-12-01 08:26:00,2.55,17850.0,United Kingdom,15.30,373,15.30
1,536365,WHITE METAL LANTERN,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom,20.34,373,20.34
2,536365,CREAM CUPID HEARTS COAT HANGER,8,2010-12-01 08:26:00,2.75,17850.0,United Kingdom,22.00,373,22.00
3,536365,KNITTED UNION FLAG HOT WATER BOTTLE,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom,20.34,373,20.34
4,536365,RED WOOLLY HOTTIE WHITE HEART.,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom,20.34,373,20.34
...,...,...,...,...,...,...,...,...,...,...
529630,581587,PACK OF 20 SPACEBOY NAPKINS,12,2011-12-09 12:50:00,0.85,12680.0,France,10.20,0,10.20
529631,581587,CHILDREN'S APRON DOLLY GIRL,6,2011-12-09 12:50:00,2.10,12680.0,France,12.60,0,12.60
529632,581587,CHILDRENS CUTLERY DOLLY GIRL,4,2011-12-09 12:50:00,4.15,12680.0,France,16.60,0,16.60
529633,581587,CHILDRENS CUTLERY CIRCUS PARADE,4,2011-12-09 12:50:00,4.15,12680.0,France,16.60,0,16.60
529634,581587,BAKING SET 9 PIECE RETROSPOT,3,2011-12-09 12:50:00,4.95,12680.0,France,14.85,0,14.85

In [5]:
import pandas as pd
import nltk
from nltk.tokenize import word_tokenize
Data['Description'] = Data['Description'].apply(lambda x: x.lower())  
Data['Description'] = Data['Description'].apply(lambda x: word_tokenize(x))

In [6]:
display(Data)

,InvoiceNo,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country,TotalPrice,Recency,Monetory
0,536365,"[white, hanging, heart, t-light, holder]",6,2010-12-01 08:26:00,2.55,17850.0,United Kingdom,15.30,373,15.30
1,536365,"[white, metal, lantern]",6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom,20.34,373,20.34
2,536365,"[cream, cupid, hearts, coat, hanger]",8,2010-12-01 08:26:00,2.75,17850.0,United Kingdom,22.00,373,22.00
3,536365,"[knitted, union, flag, hot, water, bottle]",6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom,20.34,373,20.34
4,536365,"[red, woolly, hottie, white, heart, .]",6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom,20.34,373,20.34
...,...,...,...,...,...,...,...,...,...,...
529630,581587,"[pack, of, 20, spaceboy, napkins]",12,2011-12-09 12:50:00,0.85,12680.0,France,10.20,0,10.20
529631,581587,"[children, 's, apron, dolly, girl]",6,2011-12-09 12:50:00,2.10,12680.0,France,12.60,0,12.60
529632,581587,"[childrens, cutlery, dolly, girl]",4,2011-12-09 12:50:00,4.15,12680.0,France,16.60,0,16.60
529633,581587,"[childrens, cutlery, circus, parade]",4,2011-12-09 12:50:00,4.15,12680.0,France,16.60,0,16.60
529634,581587,"[baking, set, 9, piece, retrospot]",3,2011-12-09 12:50:00,4.95,12680.0,France,14.85,0,14.85

In [7]:
import os
os.environ["NLTK_DATA"] = "https://nltk.org/nltk_data/"

In [8]:
import re
from nltk.corpus import stopwords
from nltk.stem import PorterStemmer

In [9]:
Data['Description'] = Data['Description'].apply(lambda x: [re.sub(r'[^a-zA-Z]', '', word) for word in x])

In [10]:
import nltk
nltk.download('stopwords')

[nltk_data] Error loading stopwords: <urlopen error [Errno 11001]
[nltk_data]     getaddrinfo failed>

False

In [11]:
stop_words = set(stopwords.words('english'))
Data['Description'] = Data['Description'].apply(lambda x: [word for word in x if word not in stop_words])

In [12]:
stemmer = PorterStemmer()
Data['Description'] = Data['Description'].apply(lambda x: [stemmer.stem(word) for word in x])

In [13]:
Data['Description'] = Data['Description'].apply(lambda x: ' '.join(x))

In [14]:
from sklearn.feature_extraction.text import CountVectorizer
#from sklearn.tree import DecisionTreeClassifier
from sklearn.preprocessing import LabelEncoder

In [15]:
label_encoder = LabelEncoder()

In [16]:
Data["invoicedate_encoded"] = label_encoder.fit_transform(Data["InvoiceDate"])
Data["country_encoded"] = label_encoder.fit_transform(Data["Country"])
Data['description_encoded'] = label_encoder.fit_transform(Data['Description'])
Data_1=Data.drop(['Country', 'InvoiceDate','Description'],axis=1)
Data_1

,InvoiceNo,Quantity,UnitPrice,CustomerID,TotalPrice,Recency,Monetory,invoicedate_encoded,country_encoded,description_encoded
0,536365,6,2.55,17850.0,15.30,373,15.30,0,36,3746
1,536365,6,3.39,17850.0,20.34,373,20.34,0,36,3755
2,536365,8,2.75,17850.0,22.00,373,22.00,0,36,859
3,536365,6,3.39,17850.0,20.34,373,20.34,0,36,1810
4,536365,6,3.39,17850.0,20.34,373,20.34,0,36,2769
...,...,...,...,...,...,...,...,...,...,...
529630,581587,12,0.85,12680.0,10.20,0,10.20,18393,13,2256
529631,581587,6,2.10,12680.0,12.60,0,12.60,18393,13,704
529632,581587,4,4.15,12680.0,16.60,0,16.60,18393,13,708
529633,581587,4,4.15,12680.0,16.60,0,16.60,18393,13,707
529634,581587,3,4.95,12680.0,14.85,0,14.85,18393,13,250

In [17]:
from sklearn.model_selection import train_test_split
X = Data_1.drop("CustomerID", axis=1) 
y = Data_1["CustomerID"]

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [18]:
X

,InvoiceNo,Quantity,UnitPrice,TotalPrice,Recency,Monetory,invoicedate_encoded,country_encoded,description_encoded
0,536365,6,2.55,15.30,373,15.30,0,36,3746
1,536365,6,3.39,20.34,373,20.34,0,36,3755
2,536365,8,2.75,22.00,373,22.00,0,36,859
3,536365,6,3.39,20.34,373,20.34,0,36,1810
4,536365,6,3.39,20.34,373,20.34,0,36,2769
...,...,...,...,...,...,...,...,...,...
529630,581587,12,0.85,10.20,0,10.20,18393,13,2256
529631,581587,6,2.10,12.60,0,12.60,18393,13,704
529632,581587,4,4.15,16.60,0,16.60,18393,13,708
529633,581587,4,4.15,16.60,0,16.60,18393,13,707
529634,581587,3,4.95,14.85,0,14.85,18393,13,250

In [19]:
y

0         17850.0
1         17850.0
2         17850.0
3         17850.0
4         17850.0
           ...
529630    12680.0
529631    12680.0
529632    12680.0
529633    12680.0
529634    12680.0
Name: CustomerID, Length: 529635, dtype: float64

# Decision Tree Regressor

In [34]:
from sklearn.metrics import accuracy_score
from sklearn.metrics import mean_squared_error, mean_absolute_error

In [35]:
dc = DecisionTreeRegressor(max_leaf_nodes = 15, random_state = 0)
dc.fit(X_train,y_train)
y_p = dc.predict(X_test)
print(y_p)

[14045.92368154 12360.42461411 11845.93031932 ... 11845.93031932
 14045.92368154 11845.93031932]

In [37]:
mae = mean_absolute_error(y_test, y_p)
print('Mean Absolute Error:', mae)

Mean Absolute Error: 4099.772502502098

In [38]:
mse = mean_squared_error(y_test, y_p)
print('Mean Squared Error:', mse)

Mean Squared Error: 31833796.73350375

In [39]:
import numpy as np
rmse = np.sqrt(mse)
print('Root Mean Squared Error:', rmse)

Root Mean Squared Error: 5642.1446927124925

In [52]:
from sklearn.model_selection import GridSearchCV
param_grid = {
    'max_depth': [3, 5, 8, 10, 12],
    'min_samples_leaf': [1, 5, 10, 15]
}
grid_search = GridSearchCV(DecisionTreeRegressor(), param_grid, cv=5, scoring='neg_mean_squared_error')
grid_search.fit(X_train, y_train)

GridSearchCV(cv=5, estimator=DecisionTreeRegressor(),
             param_grid={'max_depth': [3, 5, 8, 10, 12],
                         'min_samples_leaf': [1, 5, 10, 15]},
             scoring='neg_mean_squared_error')

In [53]:
print("Best Model:", grid_search.best_estimator_)
print("Best Hyperparameters:", grid_search.best_params_)
print("Best Grid Search Score (Negative MSE):", grid_search.best_score_)

Best Model: DecisionTreeRegressor(max_depth=12, min_samples_leaf=10)
Best Hyperparameters: {'max_depth': 12, 'min_samples_leaf': 10}
Best Grid Search Score (Negative MSE): -14359031.807271142

In [55]:
y_pred = grid_search.best_estimator_.predict(X_test)
y_pred

array([15274.23961244, 15180.58003   , 11366.81062802, ...,
       15102.70956894, 14911.        ,  5049.53745743])

# Random Forest Regressor

In [56]:
from sklearn.ensemble import RandomForestRegressor
rf_regressor = RandomForestRegressor(n_estimators=100, max_depth=5, random_state=42)

In [57]:
rf_regressor.fit(X_train, y_train)

RandomForestRegressor(max_depth=5, random_state=42)

In [58]:
y_pred = rf_regressor.predict(X_test)

In [59]:
from sklearn.metrics import mean_squared_error, r2_score
import numpy as np
mse = mean_squared_error(y_test, y_pred)
rmse = np.sqrt(mse)  # Root Mean Squared Error
r2 = r2_score(y_test, y_pred)  # Explained variance score (R-squared)
print("Mean Squared Error:", mse)
print("Root Mean Squared Error:", rmse)
print("R-squared:", r2)

Mean Squared Error: 31282793.51156791
Root Mean Squared Error: 5593.102315492531
R-squared: 0.3202940173572285

In [60]:
# Define hyperparameter grid
param_grid = {
    'n_estimators': [100, 200, 300],
    'max_depth': [None, 5, 10, 15],
    'min_samples_split': [2, 5, 10],
    'min_samples_leaf': [1, 2, 4],
    'max_features': ['auto', 'sqrt']
}

In [61]:
from sklearn.model_selection import RandomizedSearchCV
# Create RandomizedSearchCV object
random_search = RandomizedSearchCV(estimator=rf_regressor, param_distributions=param_grid, n_iter=2, cv=10, 
                                   verbose=2, random_state=42, n_jobs=-1)

# Fit the model
random_search.fit(X_train, y_train)

Fitting 10 folds for each of 2 candidates, totalling 20 fits

RandomizedSearchCV(cv=10,
                   estimator=RandomForestRegressor(max_depth=5,
                                                   random_state=42),
                   n_iter=2, n_jobs=-1,
                   param_distributions={'max_depth': [None, 5, 10, 15],
                                        'max_features': ['auto', 'sqrt'],
                                        'min_samples_leaf': [1, 2, 4],
                                        'min_samples_split': [2, 5, 10],
                                        'n_estimators': [100, 200, 300]},
                   random_state=42, verbose=2)

In [63]:
# Print the best parameters and score
print(random_search.best_params_)
print(random_search.best_score_)

# Predict on test set
y_p = random_search.predict(X_test)
mse = mean_squared_error(y_test, y_p)
print("Mean Squared Error:", mse)

# Calculate R-squared on test set
r2 = r2_score(y_test, y_p)
print("R-squared after Tuning:", r2)

{'n_estimators': 300, 'min_samples_split': 10, 'min_samples_leaf': 2, 'max_features': 'auto', 'max_depth': 15}
0.8157416713588684
Mean Squared Error: 8648551.809248839
R-squared after Tuning: 0.812086078445372

In [64]:
from sklearn.model_selection import cross_val_score

In [65]:
scores = cross_val_score(rf_regressor, X, y, cv=10, scoring='neg_mean_squared_error')
print("Mean Cross-Validation Score:", -scores.mean())
scores

Mean Cross-Validation Score: 32391946.39943234

array([-53338766.97487912, -32245484.29360818, -27942513.36509506,
       -26657624.79360401, -33823547.22441658, -27913858.07884851,
       -25940268.93968358, -27385141.27477205, -31770337.74267093,
       -36901921.30674537])

# Linear Regression

In [66]:
from sklearn.linear_model import LinearRegression
model = LinearRegression()
model.fit(X_train, y_train)
predictions = model.predict(X_test)
mse = mean_squared_error(y_test, predictions)
print("Mean Squared Error:", mse)

Mean Squared Error: 43722880.999196924